* {
    font-family: 'Roboto', sans-serif;
}

form{
    margin-top: 10%;
    width: 50%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

label {
    padding: 20px 10px;
    width: 200px;
    background-color: rgba(74, 10, 250, 0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

div#explain{
    width: 70%;
    text-align: justify;
    font-size: 1.2em;
}


form div#fileplace{
    width: 70%;
    height: 300px;
    background-color: transparent;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form div#fileplace h2{
    margin-bottom: 2%;
}


.container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -20px; */
    width: 130px;
    height: 40px;
    text-align: center;
}
.container button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: rgb(0, 0, 0);
    border: 2px solid #1ecd97;
    color: #1ecd97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
button:hover {
    color: rgb(0, 0, 0);
    background: #1ecd97;
}
button:active {
    letter-spacing: 2px;
}
button:after {
    content: "SUBMIT";
}
.onclic {
    width: 40px;
    border-color: #bbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ecd97;
    animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
    content: "";
}
.onclic:hover {
    color: #1ecd97;
    background: white;
}
.validate {
    font-size: 13px;
    color: white;
    background: #1ecd97;
}
.validate:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
